# Node
node_modules/
npm-debug.log

# Build outputs
release/
dist/
frontend/dist/

# Electron
*.AppImage
*.pacman
linux-unpacked/


# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# AUR (keep separate)
hacklog-bin/